body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  width: 400px;
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px 0;
}

button {
  cursor: pointer;
}

#messages {
  height: 200px;
  overflow-y: auto;
}

.message {
  padding: 6px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.you {
  background: #2563eb;
  align-self: flex-end;
}

.friend {
  background: #374151;
}